.markdown-viewer {
  max-width: 800px;
  margin: 0 auto;
}

.markdown-viewer table {
  border-collapse: collapse;
  margin: 20px 0;
}

.markdown-viewer th,
.markdown-viewer td {
  border: 1px solid black;
  padding: 8px;
}

.markdown-viewer pre {
  background-color: #f5f5f5; /* Fondo por defecto para otros bloques de código */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Estilo específico para bloques de código con lenguaje 'asm' */
.markdown-viewer pre code.language-asm {
  background-color: #e0e8ff; /* Fondo azul claro para ASM, puedes cambiarlo */
  display: block; /* Asegura que ocupe todo el espacio del pre */
}

/* Estilo general para el texto dentro de code */
.markdown-viewer code {
  font-family: 'Courier New', Courier, monospace;
}

/* Estilo para imágenes dentro del markdown */
.markdown-viewer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}